/* Whole document */

body {
    background-color: #241c6d;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Lora', serif;
    color: #241c6d;
    margin: 0.5rem;
}

h2, h3 {
    font-family: 'Merriweather', serif;
}

h2 {
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;

    /* width: 180px; */
    width: 68%;
    margin-left: auto;
    margin-right: auto;
}

.dark {
    background-color: #2e2e2e;
    color: #eaeaea;
}

.light {
    background-color: #eaeaea;
    color: #2e2e2e;
}

/* Header */

nav {
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-bottom-color: #111111;
}

header nav div {
    max-width: 500px;
}

header nav div div a {
    padding: 0.3rem;
}

header nav div div a:hover {
    background-color: #111111;
}

/* Main body */

/* section div {
    margin: 16px;
} */

.my-card {
    padding: 1rem;
    margin: 0.5rem 0.6rem;

    border-style: solid;
    border-color: #2e2e2e #111111 #111111 #2e2e2e;
    border-width: 0.1rem;
}

@media (min-width: 576px) {
    .my-card {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (min-width: 1200px) {
    .my-card {
        width: 1165px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* About me card */

#about img, #about p {
    margin: 0.5rem 0 0 0;
}

/* More */

.shifted {
    padding-top: 6.4rem;
    margin-top: -6.4rem;
}

#about {
    margin-top: 0;
}

a {
    color: #eaeaea;
}

a:hover {
    color: #ff811a;
    text-decoration: none;
}

/* Footer */

footer {
    padding: 0.8rem;
    margin-top: 1rem;
}

footer div {
    max-width: 350px;
}

footer a {
    margin: 0.3rem;
}