/* Whole document */

body {
    background-color: #241c6d;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Lora', serif;
    margin: 0.5rem;
}

h2, h3 {
    font-family: 'Merriweather', serif;
}

.dark-background {
    background-color: #2e2e2e;
}

.light-background {
    background-color: #eaeaea;
}

/* Header */

nav {
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-bottom-color: #111111;
}

header nav div {
    max-width: 500px;
}

header nav div div a {
    padding: 0.3rem;
}

header nav div div a:hover {
    background-color: #111111;
}

/* More */

.shifted {
    padding-top: 6.4rem;
    margin-top: -6.4rem;
}

#about {
    margin-top: 0;
}

section {
    background-color: #eaeaea;
}

h1 {
    color: #241c6d;
}

section {
    color: #2e2e2e;
}

section section, footer {
    color: #eaeaea;
}

a {
    color: #eaeaea;
}

a:hover {
    color: #ff811a;
    text-decoration: none;
}

section {
    margin: 16px;
}

/* Footer */

footer {
    padding: 0.8rem;
}

footer div {
    max-width: 350px;
}

footer a {
    margin: 0.3rem;
}